<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Settler Kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAAAD76A1CA3553000550578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAAD77E1CA3553100550578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAAD7891CA3553100550578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
